.header{
    border: 1px solid #f0f0f0;
    border-radius: 4px ;
    padding:4px;
    padding-left: 2pc;
}

.navigation{
    display:flex;
    justify-content: space-evenly;
    gap: 32px;
    align-items: center;
}

.navigation a:hover{
    color: #f0f0f0;
    text-decoration: underline;
}